# Node / Frontend
node_modules/
frontend/dist/
frontend/build/

# Python
__pycache__/
*.pyc
backend/.env
frontend/.env

# Helm cleanup
charts/charts/*.tgz
charts/charts/*.prov

# Editor / OS
.DS_Store
.vscode/
.idea/
